In [1]:
import pandas as pd

In [20]:
df = pd.read_csv('../data/dzongkha_copy_paste.csv')

In [21]:
df = df.rename(columns={'Unnamed: 1':'text','Unnamed: 2':'text2','Unnamed: 3':'category'})

In [34]:
def get_dzongkha_text(df):
    dz_list = []
    ro_list = []
    for idx in range(len(df)):
        if df.iloc[idx]['category'] == 0:
            dz_list.append(df.iloc[idx]['text'].split()[0])
            ro_list.append(df.iloc[idx]['text'].split()[2])
        elif df.iloc[idx]['category'] == 1:
            dz_list.append(df.iloc[idx]['text'].split()[0])
            ro_list.append(df.iloc[idx]['text'].split()[1])
        elif df.iloc[idx]['category'] == 2:
            dz_list.append(df.iloc[idx]['text'])
            ro_list.append(df.iloc[idx]['text2'])
    
    return pd.DataFrame([dz_list,ro_list]).transpose()
dff = get_dzongkha_text(df)

In [35]:
dff = dff.rename(columns = {0:'dzongkha',1:'romanized'})

In [36]:
dff.to_csv('../data/clean_dzongkha.csv')

In [38]:
dff

           dzongkha  romanized
0               ཀཝ་        kau
1          ཀྲེམ་ཟེ་     tremze
2             ཀྲོག་        tro
3             ཀླདཔ་       ’lep
4          ཀུན་གསལ་     Künsel
...             ...        ...
1195            ཨམ་       ’am,
1196           ཨའུ་       ’au,
1197    ཨརཝ་རྐུ་ནི་  ’âuku-ni,
1198  ཨེ་ཏོ་མེ་ཏོག་  ’ätomito,
1199         ཨེན་ཏ་    ’entha,

[1200 rows x 2 columns]