In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('../data/dzongkha_copy_paste.csv')

In [4]:
df = df.rename(columns={'Unnamed: 1':'text','Unnamed: 2':'text2','Unnamed: 3':'category'})

In [5]:
def get_dzongkha_text(df):
    dz_list = []
    ro_list = []
    for idx in range(len(df)):
        if df.iloc[idx]['category'] == 0:
            dz_list.append(df.iloc[idx]['text'].split()[0])
            ro_list.append(df.iloc[idx]['text'].split()[2])
        elif df.iloc[idx]['category'] == 1:
            dz_list.append(df.iloc[idx]['text'].split()[0])
            ro_list.append(df.iloc[idx]['text'].split()[1])
        elif df.iloc[idx]['category'] == 2:
            dz_list.append(df.iloc[idx]['text'])
            ro_list.append(df.iloc[idx]['text2'])
    
    return pd.DataFrame([dz_list,ro_list]).transpose()
dff = get_dzongkha_text(df)

In [6]:
dff = dff.rename(columns = {0:'dzongkha',1:'romanized'})

In [8]:
dff.to_csv('../data/clean_dzongkha.csv')

In [9]:
dff

           dzongkha  romanized
0               ཀཝ་        kau
1          ཀྲེམ་ཟེ་     tremze
2             ཀྲོག་        tro
3             ཀླདཔ་       ’lep
4          ཀུན་གསལ་     Künsel
...             ...        ...
1195            ཨམ་       ’am,
1196           ཨའུ་       ’au,
1197    ཨརཝ་རྐུ་ནི་  ’âuku-ni,
1198  ཨེ་ཏོ་མེ་ཏོག་  ’ätomito,
1199         ཨེན་ཏ་    ’entha,

[1200 rows x 2 columns]

In [11]:
dff.to_csv('../data/dzongkha_romanized.txt', header=None, index=None, sep=' ', mode='a')

Generate GPT Prompt

In [10]:
def generate_gpt_prompt(df):
    text = ''
    for idx in range(len(df)):
        text += 'DZONGKHA: '  + df.iloc[idx]['dzongkha'] + '\n\n'
        text += 'ROMANIZED: '  + df.iloc[idx]['romanized'] + '\n\n\n\n\n\n'
    return text

text = generate_gpt_prompt(dff)

file = open("../data/dzongkha.txt", "w")
a = file.write(text)
file.close()

In [7]:
dff = pd.read_csv('../data/thai_romanization.csv',delimiter='	')
dff = dff.dropna(axis=0)

def generate_thai_gpt_prompt(df):
    text = ''
    for idx in range(len(df)):
        text += 'THAI: '  + df.iloc[idx]['word'] + '\n\n'
        text += 'ROMANIZED: '  + df.iloc[idx]['romanization'] + '\n\n\n\n\n\n'
    return text

text = generate_thai_gpt_prompt(dff)

file = open("../data/thai_romanization_gpt.txt", "w")
a = file.write(text)
file.close()

In [5]:
dff

                                       word\tromanization
0                กองพันทหารปืนใหญ่\tkongphanthahanpuenyai
1                                         วิฑูรย์\twithun
2                                 เมตาบอลิสม\tmetabolisom
3                                 บ้านหนองเลา\tbannonglao
4                                             อายุษ\tayut
...                                                   ...
648236  วรรณพงษ์ ภัททิยไพบูลย์\twannaphong phatthiyaph...
648237                              รักตัวเอง\traktua-eng
648238                                    คุณพี่\tkhunphi
648239                                     วงไว้\twongwai
648240                                  งวดหวย\tnguathuai

[648241 rows x 1 columns]